.cadastro{
background-color: brown;
}

a{
    text-decoration: none;
}

.login{
    background-color: green;
}

.cadastro:hover{
    background-color: brown;
}

.login:hover{
    background-color: green;
 }

#header-fixo {
    height: 60px;
    }

#barra-usuario {
    height: 50px;
    }

.fixed-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1030;
    }
body {
      padding-top: 110px; /* ajuste se mudar altura dos elementos */
    }
