/*importando fontes do google*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=DM+Serif+Text:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=DM+Serif+Text:ital@0;1&family=Kalnia+Glaze:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=DM+Serif+Text:ital@0;1&family=Kalnia+Glaze&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*deixar o menu no topo*/
*{
  margin: 0 auto;
}

/*estilizando todo o corpo da página*/
body{
    background: linear-gradient(rgba(0,0,0,0.7));
    background-repeat: no-repeat;
    background-position: right 0;
  }

  /*alterando tamanhos da imagem principal*/
  img.principal{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-color: rgb(0,0,0,0.55);
  }

  /*posicionando ul(MENU)*/
  ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 21px;
    height: 75px;
    background-color: black;
  }

  /*posicionando e modificando tamanhos da id menu*/
  #menu {
    width: 100%;
    height: 80%;
    font-family: "Open Sans", sans-serif;
    position: fixed;    
  }
 
/*posicionando a li SOS RS*/
  .ajudars{
    display: inline;
    padding-right: 69%;
    font-family: "Open Sans", sans-serif;
    color: aliceblue;
  }


  /*Começando a animação ao passar o cursor do mouse no menu */
  .inicio:after{
    content: "";
    background-color: red;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.9s;
  
  }
  .inicio:hover:after{
    width: 100%;
  }
  
  .sos:after{
    content: "";
    background-color: red;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.9s;
  
  }
  .sos:hover:after{
    width: 100%;
  }
  
  .doacoes:after{
    content: "";
    background-color: red;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.9s;
  
  }
  .doacoes:hover:after{
    width: 100%;
  }

  .sobre:after{
    content: "";
    background-color: red;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.9s;
  
  }
  .sobre:hover:after{
    width: 100%;
  }

  
/*posicionando e estilizando um paragrafo do texto*/
.saida{
  color: black;
  font-family: "Poppins", serif;
  cursor: auto;
  padding-left: 2%;
  padding-right: 3%;
  font-size: 18px ;
}

/*estilizando e posicionando primeiro texto de entrada*/
.entrada{
  color: black;
  font-family: "Poppins", serif;
  cursor: auto;
  padding-right: 2%;
  padding-left: 2%;
  font-size: 18px ;
}

/*ao rolar o cursor do mouse na li (SOS RS)*/
.ajudars:hover{
  color: aqua;
  cursor: pointer;
}

/*posicionando as duas imagens no final da pagina*/
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 410px;
  }

  /*posicionando as duas imagens uma ao lado da outra*/
  .dupla{
    border-radius: 10px; }

  /*posicionando footer(parte inferior da pagina)*/
  footer{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 80px;
    margin-top: auto;
    background-color:  black;
    padding: 10px;

  }

/*deixando todos fieldset presentes no html invisiveis*/
fieldset{
  margin-left: 0;
  border: 0;
}

/*posicionando e estilizando um paragrafo do texto*/
  .text{
    font-family:  "Montserrat", sans-serif;
    justify-content: center;
    margin: auto;
    font-size: 17px;
    color: aliceblue;
    margin: 0;
    cursor: auto;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
  }


/*posicionando os elementos clicaveis no footer*/
  .elementos{
    padding: 20px;
    display: inline;
    justify-content: space-between;
    letter-spacing: 10px; 
    padding-left: 30% ;
    padding-right: 30%;
  }

/*posicionando e modificando botão*/
  .botao{
    background-color:black;
    color: whitesmoke;
    font-size: 17px;
    justify-items: center;
    align-items: center;
    position: absolute;
    width: 50%;
    left: 25%;
    right: 25%;
    top: 85%;
    border: solid black;
    height: 60px;
    width: 210px;
    font-family: "Poppins", serif;
    font-weight: 900;
  }

/*ação ao rolar o mouse no botão*/
  .botao:hover{
    color: black;
    background-color: black;
    border: solid aliceblue;
    cursor: pointer;
  }


/*modificando os links*/
a {
  color: #fff;
  text-decoration: none;
  position:relative;
}

/*ação ao rolar o mouse nos links*/
a:hover{
color: aqua;
}

/*estilizando o link CLIQUE AQUI*/
.saiba_mais{
  color: blue;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

/*link cLIQUE AQUI - AÇÂO*/
.saiba_mais:hover{
  color: black;
}


