/*importando fontes do google*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=DM+Serif+Text:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=DM+Serif+Text:ital@0;1&family=Kalnia+Glaze:wght@100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=DM+Serif+Text:ital@0;1&family=Kalnia+Glaze&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*deixar o menu no topo*/
*{
  margin: 0 auto;
}

/*estilizando e posicionando o titulo principal*/
 h1{

   color: black;
   padding-top: 10%;
   align-items: center;
   justify-content: center;
   padding-right: 20%;
   padding-left: 20%;
   font-family: "Poppins", serif;
   font-size: 40px;
   font-family: 'Poppins', serif;
   

}
/* posicioando e estilzando listas(MENU)*/
  ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 20px;
    height: 70px;
    background-color: black;
   
  }
  /*estilizando e posicionando id menu*/
    #menu {
    width: 100%;
    height: 80%;
    font-family: "Open Sans", sans-serif;
    position: fixed;    
  }

  /*estilizando e posicionando sos*/
  .ajudars{
    display: inline;
    padding-right: 69%;
    font-family: "Open Sans", sans-serif;
    color: aliceblue;
  }

  /*estilizando e posicionando sos - ação*/
  .ajudars:hover{
    color: aqua;
    cursor: pointer;
  }

/*estilizando e posicionando links*/
  a {
    color: #fff;
    text-decoration: none;
    position:relative;
  }

  /*ação ao passar o curso do mouse nos links*/
  a:hover{
  color: aqua;
  }
  
/*Começando estilizar animação do menu*/
  .inicio:after{
    content: "";
    background-color: red;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.9s;
  
  }
  .inicio:hover:after{
    width: 100%;
  }
  
  .sos:after{
    content: "";
    background-color: red;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.9s;
  
  }
  .sos:hover:after{
    width: 100%;
  }
  
  .doacoes:after{
    content: "";
    background-color: red;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.9s;
  
  }
  .doacoes:hover:after{
    width: 100%;
  }

  .sobre:after{
    content: "";
    background-color: red;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    position: absolute;
    transition: 0.9s;
  
  }
  .sobre:hover:after{
    width: 100%;
  }


/*posicionando imagem 1*/
.imagem1{
  background-repeat: no-repeat;
  background-position: right 0;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

/*estilizando e posicionando  texto a baixo e da imagem1*/
.text_img{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
  color: rgb(124, 124, 125);

}

/*posicionando o paragrafo 1 */
.paragrafo1{
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Poppins', serif;
  padding-top: 5%;
  font-size: 18px;
}


/*posicioando titulo do motivo das chuvas intensas*/
.chuva_intensa{
  padding-left: 26%;
  padding-right: 26%;
  font-family: 'Poppins', serif;
  padding-top: 5%;
  font-size: 30px;
}

/*posicioando imagem*/
.imagem2{

  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

/*posicionando o paragrafo 2 */
.paragrafo2{
  
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Poppins', serif;
  font-size: 18px;
}

  /*posicionando footer(parte inferior da pagina)*/
  footer{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 80px;
    margin-top: auto;
    background-color:  black;

  }

/*deixando todos fieldset presentes no html invisiveis*/
fieldset{
  margin-left: 0;
  border: 0;
}

/*posicionando e estilizando um paragrafo do texto*/
.text{
  font-family:  "Montserrat", sans-serif;
  justify-content: center;
  margin: auto;
  font-size: 17px;
  color: aliceblue;
  margin: 0;
  cursor: auto;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 2%;
}

/*posicionando os elementos clicaveis no footer*/
.elementos{
  padding: 20px;
  display: inline;
  justify-content: space-between;
  letter-spacing: 10px; 
  padding-left: 30% ;
  padding-right: 30%;
}


.footer_bbm{
  
  font-family: 'Poppins', serif;
  font-size: 12px;
}

.tituloRS{
  font-family: 'Poppins', serif;
  font-size: 12px;
}

/*estilizando o texto do footer */
.footerRS{ 
color: #fff;
padding-left: 80%;
transform:translateY(30%);

}

.bbm{
transform:translateY(-30%);
color: #fff;
padding-right: 5%;
margin-top: auto;
}

.sp{
text-align: center;
justify-content: center;
transform:translateY(-150%);
}