@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Libertinus+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Libertinus+Math&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.botao{
font-family: "Huninn", sans-serif; 
font-size: 17px;
width: 170px;

}

pre{
font-family: "Libertinus Math", system-ui;
}

/* .medo{ */
    /* background-color: rgb(244, 240, 247); */


.afeto{
    /* background-color: rgb(230, 67, 176); */
}

.inveja{
    /* background-color: rgb(47, 86, 120); */
}

.tedio{
    /* background-color: rgb(36, 53, 125); */
}

.ansiedade{
    /* background-color: rgb(218, 114, 34); */
}

.raiva{
    /* background-color: rgb(165, 7, 7); */
    
}
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.raiva {
  animation: slideUpFade 1s ease-out forwards;
}

.nojo{
    /* background-color: rgb(57, 116, 52); */
}

.raiva, .nojo{
    flex-direction: row-reverse;

}

.nav::after {
  content: "";                     /* Obrigatório para pseudo-elemento aparecer */
  position: absolute;              /* Posicionamento absoluto relativo ao pai */
  bottom: 6px;                    /* Distância abaixo do menu */
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
  background-color: blue;

}

.nav:hover::after{
    width: 100%;
}

