*{
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    background-color: black;
    color: aliceblue;
    width: 100vw;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav{  
width: 500px;  
justify-content: end;

}

/* ================================================================== SIMBOLO ===============================================================================================*/

.home{
    height: 90vh;
    background-color: rgb(240, 238, 236);
    display: flex;
}

/* texto  */
 .conteudo-home{
    text-align: center;
    justify-content: start;
    background-color: rgb(240, 238, 236);
    margin-left: 50px;
}

 .img-home{
    justify-content: end;
    margin-left: 9%;
}

 .conteudo-home h1{
    margin-top: 250px;
    width: 400px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

} 

 .conteudo-home p{
    font-size: 20px;
     margin-top: 20px;
    width: 400px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ================================================================== HISTORIA ========================================================================================== */ 

.fufu{
border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(247, 244, 244, 0.3);
}

.historico{
    height: 80vh;
    background-color: rgb(12, 12, 11);
    display: flex;
}

/* texto */
.historia{
    width: 600px;
    text-align: center;
    justify-content: end;
    margin-left: 10%;
    color: rgb(252, 252, 252);
}

/* img */
.img-historico{
    justify-content: start;
    margin-left: 35px;
    margin-top: 50px;

    
}

.historia h1{
    margin-top: 50px;
    justify-content: end;
    margin-top: 100px ;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.historia p{
    margin-top: 30px;
    justify-content: end;
    font-size: 16px;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* ================================================================== ARTISTAS ============================================================================================= */

/* pai */
.artistas{
    padding: 2px;
    justify-content: center;
    align-items: center;
}

/* para mover a div */
.artistas div{
margin-left: 150px;
margin-top: 15px;
}

/* imagens */
.img-artista{
justify-content: center;

}

.img-artista2{
justify-content: center;
}

.img-artista3{
justify-content: center;
}

/* deixando o texto ao lado da img */

.artista01{
    display: flex;
}

.artista02{
    display: flex;
}

.artista03{
    display: flex;
}

/* texto */

.artista-texto2{
    width: 550px;
    text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.artista-texto3{
    width: 550px;
    text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.artista-texto{
    width: 550px;
    text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* sessao */
.sessao2{
    height: 100%;
    background-color: rgb(241, 221, 36);
    padding-bottom: 40px;
}

/* bordas redondas */
.artista01, .artista02, .artista03{
    border-radius: 12px;
}

/* ======================================================= SESSAO DAS OBRAS =======================================================================================================*/

.obra-pai{
    padding-top: 15px;
    padding-bottom: 25px;
}

.obra{
    background-color: rgb(17, 15, 15);
    height: 100%;
    color: aliceblue;
    padding-bottom: 15px;
}

.obra-pai div{
margin-left: 150px;
margin-top: 35px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.img-obra1{
justify-content: center;
}

.img-obra2{
justify-content: center;
}

.img-obra3{
justify-content: center;
}

/*  */

.obra1{
    display: flex;
}

.obra2{
    display: flex;
}

.obra3{
    display: flex;
}

/* -------------------------------------------- texto ------------------------------------------------------------- */

.obra-texto2{
    width: 550px;
    text-align: center;
}

.obra-texto3{
    width: 550px;
    text-align: center;
}

.obra-texto1{
    width: 550px;
    text-align: center;
}

/* =========================================================================== footer ====================================================================================== */
footer{
    height: 120px;
    background-color: rgb(243, 221, 26);
    text-align: center;
}

footer p{
    padding: 2px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.voltar{
    display: flex;
 justify-content: end;
 padding-top: 15px;
}

.voltar img{
    margin-right: 25px;
}

/*  */

.btn-obras{
    margin-top: 25px;
    width: 280px;
    height: 40px;
    background-color: rgb(12, 12, 11);
    border: 1px solid rgb(253, 230, 26);
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.btn-obras:hover{
     background-color: rgb(85, 85, 66);
    border: 1px solid black;
    border-radius: 6px;
}