.botaocadastro{
    background-color: black;
    color:yellow;
    border-radius: 6px;
    border: solid yellow;
}
.botaocadastro:hover{
    background-color: yellow;
    color:black;
    border-radius: 6px;
    border: solid yellow;
}

.botao:hover{
color: black;
}

.botao{
    color: antiquewhite;
}

.botaologin{
    background-color: black;
    color:green;
    border-radius: 6px;
    border: solid green;
    height: 36px;
}
.botaologin:hover{
    background-color: green;
    color:black;
    border-radius: 6px;
    border: green;

}

.login:hover{
color: black;
}

.login{
    color: antiquewhite;
}




