@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0 auto;
  padding-top: 0;
}

a{
    text-decoration: none;
}

/* MY SITE */
.mysite{
  color: #fff;
  text-decoration: none;
  position:relative; }
      
  .mysite:hover{
  color: #fff;
    }
      
  .mysite:after{
      content: "";
      background-color: rgb(106,141,113);
      width: 0;
      height: 3px;
      left: 0;
      bottom: -1px;
      position: absolute;
      transition: 0.9s;
      }
      
  .mysite:hover:after{
      width: 100%;
      }
  
  /* ACADEMICO */
  .academico{
  color: #fff;
  text-decoration: none;
  position:relative; }
      
  .academico:hover{
  color: #fff;
    }
      
      
  .academico:after{
  content: "";
  background-color:   rgb(106,141,113);
  width: 0;
  height: 3px;
  left: 0;
  bottom: -1px;
  position: absolute;
  transition: 0.9s;
  }
      
  .academico:hover:after{
  width: 100%;
  }
  
  /* FAMILIA */
  .family{
    color: #fff;
    text-decoration: none;
    position:relative; }
        
    .family:hover{
    color: #fff;
      }
        
        
    .family:after{
    content: "";
    background-color:  rgb(106,141,113);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -1px;
    position: absolute;
    transition: 0.9s;
    }
        
    .family:hover:after{
    width: 100%;
    }
  
  /* AMIGOS */
  .friends{
    color: #fff;
    text-decoration: none;
    position:relative; }
        
    .friends:hover{
    color: #fff;
      }
        
        
    .friends:after{
    content: "";
    background-color:   rgb(106,141,113);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -1px;
    position: absolute;
    transition: 0.9s;
    }
        
    .friends:hover:after{
    width: 100%;
    }
  
  /* HOBBIE */
  .hobbie{
    color: #fff;
    text-decoration: none;
    position:relative; }
        
    .hobbie:hover{
    color: #fff;
      }
        
        
    .hobbie:after{
    content: "";
    background-color:  rgb(106,141,113);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -1px;
    position: absolute;
    transition: 0.9s;
    }
        
    .hobbie:hover:after{
    width: 100%;
    }

/* SERIE */
.serie{
  color: #fff;
  text-decoration: none;
  position:relative; }
      
  .serie:hover{
  color: #fff;
    }
      
      
  .serie:after{
  content: "";
  background-color:  rgb(106,141,113);
  width: 0;
  height: 3px;
  left: 0;
  bottom: -1px;
  position: absolute;
  transition: 0.9s;
  }
      
  .serie:hover:after{
  width: 100%;
  }

      .hero{
        background-position: right;
        height: 90vh;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.divider{
  height: 2px;
}