@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100..900&family=Libre+Baskerville:wght@400;700&family=Poppins:wght@100..900&family=Roboto:wght@100..900&family=Schibsted+Grotesk:wght@400..900&display=swap');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 10, 10);
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* Menu no topo */
#menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

ul {
  display: flex;
  list-style: none;
  font-size: 18px;
}

ul li {
  margin: 0 15px;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: aqua;
}

/* Imagens */
.img.eixo {
  text-align: center;
  width: 500px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 100px 30px 100px;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.img.eixos {
  width: 400px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Títulos */
h1 {
  text-align: center;
  font-size: 60px;
  color: white;
  padding-top: 5%;
}

h2,
h3 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

/* Texto */
.textos {
  padding-top: 5%;
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 15px;
}

/* Animação do link */
.bcp::after {
  content: "";
  background-color: red;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -10px;
  position: absolute;
  transition: 0.9s;
}

.bcp:hover::after {
  width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2,
  h3 {
    font-size: 30px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .img.eixo,
  .img.eixos {
    width: 100%;
    height: auto;
  }
}
