.principal, .pclinica{
    background-color: #fff;
}

header{
    background-color: #503102;
}

.unha{
    border-radius: 50%;
    width: 420px;
    height: 420px;
}

.texto{
    font-size: 45px;
}

.botaoinicio{
    background-color: #503102;
    color: aliceblue;
    height: 40px;
    border-radius: 4px;
}

.botaoinicio:hover{
    background-color:#704a0b ;
    color: #fff;
}

.quem-sou-eu, .servico, .depoimentos{
    background-color: #6d5e4a;
}
.botao_sessao {
    background-color: #6d5e4a;
}

.botao_sessao:hover{
    background-color: #704a0b;
}