@import url('https://fonts.googleapis.com/css2?family=Huninn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Libertinus+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Libertinus+Math&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.psicologa{
    width: 550px;
    height: 550px;
    border-radius: 50%;

}

.texto{
font-size: 45px;
    /* font-family: "Huninn", sans-serif; */
font-weight: 500;
/* font-family: "Libertinus Math", system-ui; */
}

.menu{
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.botaoinicio{
background-color:  #2a7996;
border: solid #2a7996;
color:black;
height: 45px;
border-radius: 5px;
}

.botaoinicio:hover{
  
background-color: #3e6693;
border: solid #3e6693;
}

.texto2{
font-family: "Libertinus Math", system-ui; 
font-size: 20px;
font-weight: 500;

}

.principal{
    background-color: #A9CFE5;
}

header{
    background-color: #12577B;
}

.quem-sou-eu{
background-color: #F7F7F7;
flex-direction: row-reverse;
}

.pclinica{
    background-color: #A9CFE5;
}

.botao_sessao{
    width: 160px;
    background-color: #3e6693;
}

.menu:hover{
color: #1090d5;
}